body {
    display: flex;
}

.gallery {
    border: 1px solid black;
    background-color: rgb(230, 223, 223);
}

ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

ul li {
    display: flex;
    margin: 5px;
    padding: 15px 8px;
    border: 6px solid black;
    align-items: center;
    justify-content: center;
    flex: 1 1 300px;
}

