body {
    background-color: #EEE;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
}

header, main, aside, footer {
    padding: 2rem;
    background-color: #FFF;
    border-radius: 0.4rem;
    color: #000;
    border: 1px solid grey;
    margin: 10px 3px;
    box-shadow: 2px 1px 2px 3px grey;
}

header, footer {
    flex-basis: 100%;
}

main {
    flex: 8 1 40rem;
}

aside {
    flex: 2 1 20rem;
}